﻿<!DOCTYPE html>

@{
    string kendoUrl= "https://unpkg.com/@progress/kendo-grid-react-wrapper/dist/cdn/kendo-grid-react-wrapper.js";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Книгэ</title>

    <script src="https://unpkg.com/react@15/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>

    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    
    <script src="@kendoUrl"></script>
    
    <script src="../Scripts/kendo.all.min.js"></script>
   

    <link rel="stylesheet" type="text/css" href="../Scripts/kendo.black.min.css" />
    <link rel="stylesheet" type="text/css" href="../Scripts/kendo.common.min.css" />

</head>
<body>
    @RenderBody()
</body>
</html>
