﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    
</head>
<body>

<div id="content">
    
</div>
    
<script src="./bundle/dist/bundle.js"></script>

</body>
</html>