﻿@{
    string app = "app_" + Guid.NewGuid().ToString("N");

}


<html>
<head ng-app>
    <meta charset="utf-8">
    <script src="~/Scripts/angular.min.js"></script>
</head>
<body>
<div>
    <h1>Angular test</h1>

    <div id="@app">

    </div>
</div>
</body>
</html>


<script>






</script>