﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="app">


</div>


<script id="layout" type="text/x-kendo-template">
    <section id="toolbar"></section>
    <section id="content"></section>
</script>

<script id="gridTemplate" type="text/x-kendo-template">
    <div data-role="grid"
         data-pageable="true"
         data-selectable="true"
         data-sortable="{'mode': 'multiple', 'allowUnsort' : true}"
         data-columns="[{'field': 'ID', 'title': 'Идентификатор' , 'sortable' : false , 'hidden': true},
                        {'field': 'Title', 'title': 'Название'},
                        {'field': 'PageCount', 'title': 'Количество страниц', 'sortable' : false},
                        {'field': 'Publisher', 'title': 'Издатель', 'sortable' : false},
                        {'field': 'PublishDate', 'title': 'Дата издания'},
                        {'field': 'ISBN', 'title': 'ISBN' , 'sortable' : false}
         ]"
         data-bind="source: dataSource,
                    events: {
                        change: onChange,
                        dataBound: onDataBound

                    }">
    </div>
</script>

<script id="listViewToolbarTemplate" type="text/x-kendo-template">
    <button class="k-button" data-bind="click: add">Добавить</button>
    <button class="k-button" data-bind="click: edit">Редактировать</button>
    <button class="k-button" data-bind="click: remove">Удалить</button>
</script>

<script id="detailTemplate" type="text/x-kendo-template">
    <div id="author-placeholder">

    </div>
    <div class="container">
        <div id="detail-form" class="form-wrapper">
            <fieldset class="form-inner">
                <img id="book-image" data-bind="attr: {src: fileUrl }" width="100" height="100" />
                <div class="control-group">
                    <input id="file_upload" type="file"
                           data-multiple="false"
                           data-role="upload"
                           data-bind="events: {success : fileUploaded}"
                           data-async="{saveUrl: '/api/file/upload', autoUpload: true}" />
                </div>
                <div class="control-group">
                    <label for="input_title" class="required">Наименование</label>
                    <input id="input_title" name="input_title" class="k-textbox" type="text"
                           required validationMessage="Введите наименование"
                           data-validate-field="input_title"
                           data-validate-msg="Наименование не больше 30 символов"
                           data-bind="value: current.Title" />
                    <span data-for='input_title' class='k-invalid-msg'></span>
                </div>
                <div class="control-group">
                    <label for="page_count">Количество страниц</label>
                    <input id="page_count" class="k-textbox" type="number" name="page_count"
                           required validationMessage="Введите количество"
                           data-validatePageCount-field="page_count"
                           data-validatePageCount-msg="Количество от 1 до 10000"
                           data-bind="value: current.PageCount" />
                    <span data-for='page_count' class='k-invalid-msg'></span>
                </div>
                <div class="control-group">
                    <label>Издательство</label>
                    <input class="k-textbox" type="text" data-bind="value: current.Publisher" />
                </div>

                <div class="control-group">
                    <label for="isbn">ISBN</label>
                    <input id="isbn" type="text" class="k-textbox" name="isbn"
                           required validationMessage="Введите ISBN"
                           data-validate_isbn-field="isbn"
                           data-validate_isbn-msg="ISBN не прошел проверку"
                           data-bind="value: current.ISBN" />
                    <span data-for='isbn' class='k-invalid-msg'></span>
                </div>

                <div class="control-group">
                    <label for="publish_date">Дата публикации</label>
                    <input id="publish_date" type="text"
                           required validationMessage="Введите дату"
                           data-role='datepicker'
                           data-validateDate-field="publish_date"
                           data-validateDate-msg="Дата должна быть не раньше 1800 г"
                           data-bind="value: current.PublishDate" />
                    <span data-for='publish_date' class='k-invalid-msg'></span>
                </div>

                <div class="control-group">
                    <label for="authors">Авторы</label>
                    <button data-bind="click: addAuthor" class="k-button">Добавить</button>
                    <button data-bind="click: editAuthor" class="k-button">Редактировать</button>
                    <button data-bind="click: removeAuthor" class="k-button">Удалить</button>
                    <div id="authors"
                         data-validateAuthors-field="authors"
                         data-validateAuthors-msg="Должен быть хотя бы один автор"
                         data-bind="source: current.Authors,
                                    events: { change: onAuthorChange }"
                         data-role="grid"
                         data-selectable="true">
                    </div>
                    <span data-for='authors' class='k-invalid-msg'></span>
                </div>
            </fieldset>

            <div class="button-group">
                <button data-bind="click: save" class="k-button">Сохранить</button>
                <button data-bind="click: close" class="k-button">Закрыть</button>
            </div>


        </div>
    </div>

</script>

<script id="authorTemplate" type="text/x-kendo-tempalte">
    <div id="author-window"
         data-role="window"
         data-width="300"
         data-actions="['close']"
         data-height="400"
         data-model="true"
         data-position="{top: '40%', left:'40%'}"
         data-title="Автор">
        <div class="">
            <fieldset class="form-inner">
                <div class="control-group">
                    <label for="input_firstname">Имя</label>
                    <input id="input_firstname" class="k-textbox" type="text"
                           name="input_firstname"
                           data-firstNameValidate-field="input_firstname"
                           data-firstNameValidate-msg="Имя не более 20 символов"
                           data-bind="value: current.FirstName" />
                    <span data-for='input_firstname' class='k-invalid-msg'></span>
                </div>
                <div class="control-group">
                    <label for="input_lastname">Фамилия</label>
                    <input id="input_lastname" class="k-textbox" type="text"
                           name="input_lastname"
                           data-lastNameValidate-field="input_lastname"
                           data-lastNameValidate-msg="Фамилия не более 20 символов"
                           data-bind="value: current.LastName" />
                    <span data-for='input_lastname' class='k-invalid-msg'></span>
                </div>
            </fieldset>
            <div class="button-group">
                <button data-bind="click: save" class="k-button">Применить</button>
                <button data-bind="click: close" class="k-button">Отменить</button>
            </div>
        </div>

    </div>


</script>

<script>

    ///VIEWMODELS
    var indexModel = kendo.observable({
        dataSource: new kendo.data.DataSource({
            pageSize: 10,
            serverPaging: true,
            serverSorting: true,
            page: 1,
            schema: {
                total: 'Total',
                data: 'Data',
                model: {
                    id: "ID"
                }
            },
            transport: {
                read: {
                    url: '/api/books/getall',
                    type: 'POST',
                    contentType: 'application/json'
                },
                parameterMap: function (data, type) {
                    if (type === "read") {
                        return kendo.stringify(data);
                    }
                }
            }
        }),
        add: function (e) {
            router.navigate('/detail');
        },
        edit: function (e) {
            router.navigate('/detail/' + this.selectedID);
        },
        remove: function (e) {
            var self = this;
            if (!this.selectedID) {
                return;
            }

            $.ajax({
                url: '/api/books/delete?id=' + this.selectedID,
                type: 'DELETE',
                dataType: "json",
                contentType: "application/json",
                success: function (res) {
                    self.dataSource.read();
                    alert("Запись удалена");
                },
                error: function (res) {
                    alert(res.responseJSON.Message);
                }
            });
        },
        onChange: function (e) {
            var selectedRow = e.sender.select()[0];
            var dataItem = e.sender.dataItem(selectedRow);
            this.selectedID = dataItem.ID;
        },
        onDataBound: function (e) {
            var grid = this;
            var dataSource = this.dataSource;

            var state = kendo.stringify({
                page: dataSource.page(),
                sort: dataSource.sort(),
            });

            setCookie("gridState", state, 1);
        },
        initState: function () {
            var cookie = getCookie("gridState");
            if (cookie) {
                var state = JSON.parse(cookie);
                this.dataSource.sort(state.sort);
                this.dataSource.page(state.page);    
            }            
        },
        selectedID: ''
    });

    var detailViewModel = kendo.observable({
        validator: null,
        current: {},
        save: function () {
            var data = this.get('current');
            if (this.validator.validate()) {
                $.ajax({
                    url: '/api/books/post',
                    type: 'POST',
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify(data),
                    success: function (res) {
                        alert("Данные сохранены");
                    },
                    error: function (res) {
                        alert(res.responseJSON.Message);
                    }
                });
            }
        },
        fileUrl: "",
        close: function () {
            router.navigate('/');
        },
        setCurrent: function (id) {
            var self = this;
            return $.get('/api/books/get?id=' + id)
                .done(function (data) {
                    self.set('current', data);
                    if (data.File) {
                        self.set('fileUrl', '/api/file/getfile?fileID=' + data.File.FileID);
                    } else {
                        self.set('fileUrl', '');
                    }
                })
                .fail(function () {
                    alert('errror');
                    router.navigate('/');
                });
        },
        fileUploaded: function (e) {
            this.current.set('File', e.response);
            this.set('fileUrl', '/api/file/getfile?fileID=' + this.current.File.FileID);
        },
        addAuthor: function (e) {
            var self = this;
            var authorView = new kendo.View('authorTemplate', { model: authorViewModel });

            authorViewModel.set('current', {});
            authorViewModel.set('onSave', function (data) {
                self.current.Authors.push(data);
                authorView.destroy();
            });
            authorViewModel.set('onClose', function () {
                authorView.destroy();
            });

            layout.showIn('#author-placeholder', authorView);
            setAuthorValidator(authorViewModel);
        },
        editAuthor: function (e) {
            if (this.selectedAuthor) {
                var authorView = new kendo.View('authorTemplate', { model: authorViewModel });

                authorViewModel.set('onSave', function () {
                    authorView.destroy();
                });
                authorViewModel.set('onClose', function () {
                    authorView.destroy();
                });
                authorViewModel.set('current', this.selectedAuthor);

                layout.showIn('#author-placeholder', authorView);

                setAuthorValidator(authorViewModel);
            }
        },
        removeAuthor: function (e) {
            if (this.selectedAuthor) {
                this.current.Authors.remove(this.selectedAuthor);
            }
        },
        onAuthorChange: function (e) {
            var selectedRow = e.sender.select()[0];
            var dataItem = e.sender.dataItem(selectedRow);
            this.selectedAuthor = dataItem;
        },

    });

    var authorViewModel = kendo.observable({
        onSave: null,
        onClose: null,
        current: {},
        validator: null,
        save: function (e) {
            if (this.validator.validate()) {
                if (this.onSave) {
                    this.onSave(this.get('current'));
                }
                $(e.target).closest("[data-role=window]").data("kendoWindow").close();
            }
        },
        close: function (e) {
            if (this.onClose) {
                this.onClose();
            }
            $(e.target).closest("[data-role=window]").data("kendoWindow").close();
        }

    });


    //VIEWS
    var layout = new kendo.Layout('layout');
    var grid = new kendo.View('gridTemplate', { model: indexModel });
    var listViewToolbar = new kendo.View('listViewToolbarTemplate', { model: indexModel });
    var detailView = new kendo.View('detailTemplate', { model: detailViewModel });


    ///ROUTER
    var router = new kendo.Router({
        init: function () {
            layout.render("#app");
        }
    });

    router.route("/", function () {
        indexModel.initState();
        layout.showIn('#content', grid);
        layout.showIn('#toolbar', listViewToolbar);
    });

    router.route("/detail(/:id)", function (id) {
        if (id) {
            detailViewModel.setCurrent(id).then(() => {
                layout.showIn('#content', detailView);
                addValidator();
            });
        } else {
            detailViewModel.set('current', {});
            detailViewModel.set('fileUrl', '');
            layout.showIn('#content', detailView);
            addValidator();
        }
    });


    var addValidator = function () {

        if (!detailViewModel.validator) {
            $('#detail-form').kendoValidator({
                validateOnBlur: false,
                rules: {
                    validate: function (input) {
                        if (input.is('#input_title')) {
                            var title = input.val();
                            if (title.length > 30 || title.length === 0) {
                                return false;
                            }
                        }
                        return true;

                    },
                    validatePageCount: function (input) {
                        if (input.is('#page_count')) {
                            var count = input.val();
                            if ($.isNumeric(count)) {
                                if (count < 1 || count > 10000) {
                                    return false
                                }
                            } else {
                                return false;
                            }
                        }
                        return true;
                    },
                    validateDate: function (input) {
                        if (input.is('#publish_date')) {
                            var date = kendo.parseDate(input.val());

                            if (date.getFullYear() < 1800) {
                                return false;
                            }
                        }

                        return true;
                    },
                    validate_isbn: function (input) {
                        if (input.is('#isbn')) {
                            var isbn = input.val();
                            isbn = isbn.replace(/[^\dX]/gi, '');
                            if (isbn.length != 10) {
                                return false;
                            }
                            var chars = isbn.split('');
                            if (chars[9].toUpperCase() == 'X') {
                                chars[9] = 10;
                            }
                            var sum = 0;
                            for (var i = 0; i < chars.length; i++) {
                                sum += ((10 - i) * parseInt(chars[i]));
                            };
                            return ((sum % 11) == 0);
                        }

                        return true;
                    },
                    validateAuthors: function(input) {
                        if (input.is('#authors')) {                         
                        }
                        return true;
                    }
                }
            });

            detailViewModel.validator = $("#detail-form").getKendoValidator();

            detailViewModel.get('current').bind("change", function (e) {
                detailViewModel.validator.validate();
            });
        }
    }

    var setAuthorValidator = function (authorViewModel) {
        if (!authorViewModel.validator) {
            $('#author-window').kendoValidator({
                validateOnBlur: false,
                rules: {
                    firstNameValidate: function (input) {
                        if (input.is('#input_firstname')) {                            
                            var firstName = input.val();
                            if (firstName.length > 20 || firstName.length === 0) {
                                return false;
                            }
                        }
                        return true;
                    },
                    lastNameValidate: function (input) {
                        if (input.is('#input_lastname')) {
                            var lastname = input.val();
                            if (lastname.length > 20 || lastname.length === 0) {
                                return false;
                            }
                        }

                        return true;
                    }
                }
            });

            authorViewModel.validator = $("#author-window").getKendoValidator();

            authorViewModel.get('current').bind('change', function (e) {
                authorViewModel.validator.validate();
            });
        }
    }


    //HELLPERS
    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        var expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }

    ///DOCUMENT READY
    $(function () {
        router.start();

        router.navigate("/");
    });
</script>


<style>
    .container {
        display: grid;
        height: 100vh;
        width: 100vw;
    }

    .form-wrapper {
        width: 800px;
        margin: auto;
        padding: 1.5em;
        background-color: #ebebeb;
        border: 1px solid #ccc;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 0 9px rgba(0, 0, 0, .12);
    }

        .form-wrapper .form-inner {
        }

    .control-group {
        margin-bottom: 1.5em;
    }

        .control-group label {
            display: block;
            font-weight: 600;
            line-height: 1;
        }

        .control-group input {
            width: 100%;
        }
</style>