﻿@using System.Web.Optimization



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
    <script src="~/Scripts/vendor/jquery/jquery-2.1.4.js"></script>    
    
    @Styles.Render("~/CSS/Kendo")
    @Scripts.Render("~/JS/Common")
</head>
<body>
@RenderBody()
</body>
</html>
